<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <!-- <import resource = ""></import> -->
    <bean id = "moviesDao" class = "org.highradius.dao.MoviesDao"></bean>         
    <bean id = "moviesManager" class = "org.highradius.manager.impl.MoviesManager"> 
    	<property name = "md" ref = "moviesDao"></property> 
    </bean>
    <bean id = "movies" class = "org.highradius.model.Movie"></bean>
            
</beans>

